/*
[Master Stylesheet]
Project: <%= themeName.charAt(0).toUpperCase() + themeName.slice(1) %>
Version: 1.0
Author: Yegor Borisenco <pimmey@pimmey.com>
Author profile: https://themeforest.net/user/pimmey

[Table of Contents]


[Color codes]
# <%= themeName.charAt(0).toUpperCase() + themeName.slice(1) %> makes use of the beautiful Material design Color Palette - http://materializecss.com/color.html#palette


[Typography]
# Check out http://materializecss.com/typography.html for more details
*/

@import 'components/materialize-colors';
@import 'components/variables';

@import 'components/typography';
@import 'components/global';
