//script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDgNApputr8n44H22Nmvs8iAsX47yqE80g', async='', defer='')

// Libraries
script(src='/app/libs/jquery/jquery.min.js')
script(src='/app/libs/lodash/lodash.min.js')
script(src='/app/libs/ajax-navi/ajax-navi-2.js')
script(src='/app/libs/materialize/js/materialize.min.js')
script(src='/app/libs/textillate/jquery.textillate.js')
script(src='/app/libs/textillate/assets/jquery.lettering.js')
script(src='/app/libs/textillate/assets/jquery.fittext.js')
//script(src='/app/libs/owl.carousel/js/owl.carousel.min.js')

// Tapatoru scripts
script(src='/app/assets/js/config.js')
script(src='/app/assets/js/nas.js')
