// Libraries
script(src='./libs/jquery/jquery.min.js')
script(src='./libs/materialize/js/materialize.min.js')

// <%= themeName.charAt(0).toUpperCase() + themeName.slice(1) %> scripts
script(src='./assets/js/config.js')
script(src='./assets/js/<%= themeName %>.js')
