// Libraries
script(src='/app/libs/jquery/jquery.min.js')
script(src='/app/libs/materialize/js/materialize.min.js')


// Tapatoru scripts
script(src='/app/assets/js/config.js')
script(src='/app/assets/js/<%= themeName %>.js')
