li: a.ajax-link(href='#/cases') Cases
li: a.ajax-link(href='#/about') About
li: a.ajax-link(href='#/pricing') Pricing
li: a.ajax-link(href='#/journal') Journal
li: a.ajax-link(href='#/contact') Contact