html {
    color: $black;
}

body,
input,
textarea,
select,
button {
    -moz-font-feature-settings: 'liga', 'kern';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}
